/* Fundo da tela */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(135deg, #f0f4f8, #dbe9f4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Área principal do app */
.app-container {
  background-color: white;
  width: 100%;
  max-width: 420px; /* largura máxima como se fosse um celular */
  height: 90vh;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 24px;
  box-sizing: border-box;
  overflow-y: auto;
}
